<%- include('../header.ejs')%>


    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <%- include('../sidebar.ejs') %>

                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>Views</h1>
                                </div>
                                <div class="dash-nav">
                                    <!-- Button trigger modal -->
                                   
                                </div>
                            </div>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>#ID</th>
                                    <th>about</th>
                                    <tr>
                                        <td><%= aview._id %></td>
                                        <td><%= aview.about %></td>
                                        
                                    </tr>
                                

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- blog modal  -->



    <%- include('../footer.ejs')%>