<%- include('../header.ejs')%>


    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <%- include('../sidebar.ejs') %>

                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="dash-header">
                                <div class="dash-title">
                                    <h1>About</h1>
                                </div>
                                <div class="dash-nav">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#exampleModalcat">
                                        Add About
                                    </button>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>#ID</th>
                                    <th>Image</th>
                                    <th>about</th>
                                    <th>Action</th>
                                </tr>
                                <% a.forEach((aitem)=>{ %>
                                    <tr>
                                        <td>
                                            <%= aitem._id %>
                                        </td>
                                        <td><img src="<%= aitem.image.url %>"></td>
                                        <td>
                                            <%= aitem.about %>
                                        </td>
                                        <td>October 22, 2018</td>
                                        <td>
                                            <a href="/aboutview/<%= aitem._id %> "
                                                class="btn btn-success btn-sm">view</a>
                                            <a href="/aboutedit/<%= aitem._id %> " class="btn btn-info btn-sm">Edit</a>
                                            <a href="/aboutdelete/<%= aitem._id %>"
                                                class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                    <%})%>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- blog modal  -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModalcat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">About</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/insertAbout" method="post" enctype="multipart/form-data">
                        <div class="md-3">
                            <label> About</label>
                            <textarea name="about" class="form-control"></textarea>
                        </div>

                        <div class="md-3">
                            <label> Upload image</label>
                            <input type="file" name="image" class="form-control"> 
                           
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <%- include('../footer.ejs')%>